<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="Description" content="{{summary}}">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <!-- <link rel="icon" href="/media/avatar.jpg"/> -->
    <!-- <meta property="og:image" content="https://kayce.basqu.es/media/avatar.jpg"/> -->
    <meta name="google-site-verification" content="MDLfp22bhHWeDqDYnGefQFyZ3cSSEL5GaD2rXPeoY9U"/>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-list--item"><a href="/">Kayce Basques</a></li>
          <li class="nav-list--item"><a href="/">Home</a></li>
          <li class="nav-list--item"><a href="/sabbatical/">Sabbatical</a></li>
          <li class="nav-list--item"><a href="/technical-writing/">Technical writing</a></li>
          <li class="nav-list--item"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    {{content | safe}}
  </body>
</html>
