<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="Description" content="{{summary}}">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <!-- <link rel="icon" href="/media/avatar.jpg"/> -->
    <!-- <meta property="og:image" content="https://kayce.basqu.es/media/avatar.jpg"/> -->
    <meta name="google-site-verification" content="MDLfp22bhHWeDqDYnGefQFyZ3cSSEL5GaD2rXPeoY9U"/>
  </head>
  <body>
    <header>
      <h1><a href="/">Kayce Basques</a></h1>
    </header>
    <main>
      <h1>
        {{title}}
      </h1>
      {{content | safe}}
    </main>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sabbatical/">Sabbatical</a></li>
      </ul>
    </nav>
  </body>
</html>
