<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="Description" content="{{summary}}">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <!-- <link rel="icon" href="/media/avatar.jpg"/> -->
    <!-- <meta property="og:image" content="https://kayce.basqu.es/media/avatar.jpg"/> -->
    <meta name="google-site-verification" content="MDLfp22bhHWeDqDYnGefQFyZ3cSSEL5GaD2rXPeoY9U"/>
  </head>
  <body>
    <header class="header">
      <h1 class="header--title"><a class="header--logo" href="/">Kayce Basques</a></h1>
      <nav id="nav" class="nav">
        <ul class="nav-list">
          <li class="nav-list--item"><a href="/blog/">Blog</a></li>
          <li class="nav-list--item"><a href="/technical-writing/">Technical writing</a></li>
          <li class="nav-list--item"><a href="/sabbatical/">Sabbatical</a></li>
          <li class="nav-list--item"><a href="/contact">Contact</a></li>
        </ul>
        <a class="nav--close" href="#">Close</a>
      </nav>
      <a class="nav--open" href="#nav">Menu</a>
    </header>
    {{content | safe}}
    <footer>
      <p>Copyright © 2021 Kayce Basques</p>
    </footer>
  </body>
</html>
