:root {
  --spacing: 10px;
  --spacing-half: calc(var(--spacing) / 2);
  --secondary: #b10743;
  --border: calc(var(--spacing) / 2) dashed var(--secondary);
  --max-width: 800px;
}

a {
  color: var(--secondary);
}

body {
  font-family: "Rasa";
  font-size: 24px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

code {
  font-size: 0.65em;
}

.button {
  -webkit-appearance: none;
  font-family: "Rasa";
  font-size: 1em;
  padding: var(--spacing-half) var(--spacing) var(--spacing-half) var(--spacing);
  margin-top: var(--spacing);
}

#category {
  margin-top: 0;
}

#category::before {
  content: "Category: ";
}

@font-face {
  font-family: "Rasa";
  src: url("/fonts/Rasa-Regular.ttf") format("truetype");
}

footer {
  grid-area: footer;
  font-family: "Subway Ticker";
  max-width: var(--max-width);
  border-top: var(--border);
}

h1 {
  font-size: 1.7em;
  margin-top: 0;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
}

header {
  display: flex;
  justify-content: center;
}

html {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: disc;
}

main {
  grid-area: main;
  padding: var(--spacing);
  max-width: var(--max-width);
}

@media (min-width: 800px) {
  header {
    float: right;
    display: inline;
    padding: var(--spacing);
  }
}

nav {
  display: grid;
  grid-gap: var(--spacing);
}

.post {
  margin-bottom: var(--spacing);
}

#summary {
  border: var(--border);
  padding: var(--spacing);
}

#summary::before {
  content: "Summary";
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.25em;
}

#time {
  margin: 0;
}

#time::before {
  content: "Date: ";
}

.youtube--container {
  height: 0;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube--video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
