<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if pagename == 'index' %}
      <title>{{ project }}</title>
    {% else %}
      <title>{{title}} &gt; {{ project }}</title>
    {% endif %}
    <link rel="icon" type="image/png" href="{{ pathto('_static/green_square.png', 1) }}"> 
    <link rel="stylesheet" type="text/css" href="{{ pathto('_static/main.css', 1) }}">
    <link rel="stylesheet" type="text/css" href="{{ pathto('_static/pygments.css', 1) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      {% block body %}{{ body() }}{% endblock %}
    </main>
  </body>
</html>
