<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>{{{stylesheet}}}</style>
    <link rel="icon" href="/media/eye.png"/>
    <link href="https://fonts.googleapis.com/css?family=Rasa" rel="stylesheet"/>
    <meta property="og:image" content="https://kayce.basqu.es/media/eye.png"/>
  </head>
  <body>
    <header>
      <h1><a href="/">Kayce Basques</a></h1>
    </header>
    <main>
      {{{body}}}
      {{{subscription}}}
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
        </ul>
      </nav>
    </footer>
    <script>{{{script}}}</script>
  </body>
</html>
