<!doctype html>
<html lang="en">
  <head>
    <title>TODO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="Description" content="TODO">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <header>
      <h1><a href="/">Kayce Basques</a></h1>
      <nav>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    {{content | safe}}
  </body>
</html>
