<!doctype html>
<html lang="en">
  <head>
    <title>{{title}} | Kayce Basques</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="Description" content="{{description}}">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/essays">Essays</a></li>
          <li><a href="/technical-writing">Technical Writing</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    {{content | safe}}
  </body>
</html>
