body {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 800px;
  padding: 1em;
}

footer {
  margin: 3em 0 0 0;
}

footer p {
  margin: 0 auto 0.5em auto;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul li {
  margin-bottom: 0.5em;
}
