@font-face {
  font-family: "Atkinson";
  src: url(/fonts/atkinson/regular.woff2);
}

@font-face {
  font-family: "Atkinson";
  src: url(/fonts/atkinson/bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson";
  src: url(/fonts/atkinson/bolditalic.woff2);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson";
  src: url(/fonts/atkinson/italic.woff2);
  font-style: italic;
}

* {
  font-family: "Atkinson", serif;
}

body {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 800px;
  padding: 1em;
}

footer {
  margin: 3em 0 0 0;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

ul li {
  margin-bottom: 0.5em;
}
