<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="Description" content="{{description}}">
    <style>{{{stylesheet}}}</style>
    <link rel="icon" href="/media/eye.png"/>
    <meta property="og:image" content="https://kayce.basqu.es/media/eye.png"/>
  </head>
  <body>
    <main>
      {{{body}}}
      {{{subscription}}}
    </main>
    <nav class="nav">
      <ul class="nav--list">
        <li class="nav--link"><a href="/">Home</a></li>
        <li class="nav--link"><a href="/blog">Blog</a></li>
        <li class="nav--link"><a href="/portfolio">Portfolio</a></li>
      </ul>
    </nav>
    <script>{{{script}}}</script>
  </body>
</html>
