<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>{{{stylesheet}}}</style>
    <link rel="icon" href="/media/eye.png">
    <link href="https://fonts.googleapis.com/css?family=Rasa" rel="stylesheet">
  </head>
  <body>
    <header>
      <p class="name">Kayce Basques</p>
      <nav>
        <a href="/">Home</a>
        <a href="/on">Blog</a>
      </nav>
    </header>
    <main>
      {{{body}}}
      {{{subscription}}}
    </main>
    <footer></footer>
    <script>{{{script}}}</script>
  </body>
</html>
