:root {
  --default-space: 16px;
  --default-font-size: 16px;
}

.blog {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--default-space);
}

body {
  font-family: system-ui;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: var(--default-font-size);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header--logo {
  padding: calc(var(--default-space) / 2);
}

.header--title {
  display: inline;
  font-size: var(--default-font-size);
  text-align: center;
}

html {
  background-color: black;
}

img {
  max-width: 100%;
}

main {
  padding: var(--default-space);
}

.nav {
  display: none;
}

.nav:target {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.nav--open {
  display: inline;
}

p {
  font-size: var(--default-font-size);
}

@media (min-width: 800px) {
  .homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--default-space);
  }

  .homepage--section {
    border: 3px solid green;
    padding: calc(var(--default-space) / 2);
  }

  .nav {
    background-color: grey;
    display: inline;
  }

  .nav--open {
    display: none;
  }
  
  .nav-list--item {
    background-color: red;
    padding: calc(var(--default-space) / 2);
    margin-right: 1px;
  }
  
  .nav-list {
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }
}

/*
:root {
  --spacing: 10px;
  --spacing-half: calc(var(--spacing) / 2);
  --secondary: #ca0909;
  --border: calc(var(--spacing) / 2) solid black;
  --max-width: 800px;
  --font-family: serif;
  --h1-height: 1.5em;
}

a {
  color: var(--secondary);
}

.blog--category {
  margin: var(--spacing-half) 0 var(--spacing-half) 0;
}

.blog--list {
  padding-left: 0;
}

.blog--post {
  margin-bottom: calc(var(--spacing) * 2);
  list-style-type: none;
}

.blog--summary {
  margin: 0;
  font-style: italic;
  font-weight: normal;
}

.blog--time {
  display: block;
  font-weight: bold;
  margin: var(--spacing-half) 0 var(--spacing-half) 0;
}

.blog--title {
  margin: 0;
  font-style: normal;
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: white;
}

button, .button {
  -webkit-appearance: none;
  font-size: 1em;
  padding: var(--spacing-half) var(--spacing) var(--spacing-half) var(--spacing);
  margin-top: var(--spacing);
  font-family: var(--font-family);
}

code {
  font-size: 1em;
}

#category {
  margin-top: 0;
}

#category::before {
  content: "Category: ";
}

figure {
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: var(--h1-height);
  margin-top: 0;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

h3 {
  font-size: 1.0em;
  font-weight: bold;
  font-style: italic;
}

h4 {
  font-weight: bold;
  font-style: italic;
}

h5 {
  font-weight: bold;
  font-style: italic;
}

header {
  margin: var(--spacing);
  text-align: right;
}

.header--title {
  margin: 0;
}

html {
  margin: 0;
  color: black;
}

.invisible {
  opacity: 0;
}

img {
  max-width: 100%;
}

main {
  grid-area: main;
  padding: var(--spacing);
  max-width: var(--max-width);
}

@media (max-width: 800px) {
  .nav {
    margin: var(--spacing);
    border-top: var(--border);
    padding-top: var(--spacing);
  }
  .nav--list {
    display: flex;
    justify-content: space-evenly;
  }
  .nav--link {
    display: inline;
  }
  .nav--logo {
    display: none;
  }
}

@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns: 125px 675px;
    grid-column-gap: var(--spacing);
  }
  header {
    display: none;
  }
  .nav {
    margin-top: var(--spacing);
    padding-top: var(--spacing);
  }
  .nav--logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
  }
  .nav--link {
    display: block;
  }
}

.nav--link {
  list-style-type: none;
}

.nav--list {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
}

#summary {
  border: var(--border);
  padding: var(--spacing);
}

#summary::before {
  content: "Summary";
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-style: italic;
  font-size: 1.25em;
}

#time {
  margin: 0;
}

#time::before {
  content: "Date: ";
}

ul {
  list-style-type: disk;
}

.youtube--container {
  height: 0;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube--video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

*/
