:root {
  --default-space: 16px;
  --default-font-size: 16px;
}

.blog {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--default-space);
}

body {
  font-family: system-ui;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
}

footer p {
  text-align: center;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: var(--default-font-size);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--default-space);
}

.header--title {
  display: inline;
  font-size: var(--default-font-size);
  text-align: center;
  margin: 0;
}

img {
  max-width: 100%;
}

main {
  padding: var(--default-space);
}

.nav {
  display: none;
  background-color: white;
}

.nav:target {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.nav--open {
  display: inline;
}

p {
  font-size: var(--default-font-size);
}

@media (min-width: 800px) {
  .homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--default-space);
  }

  .homepage--section {
    padding: calc(var(--default-space) / 2);
  }

  .nav {
    display: inline;
  }

  .nav--close {
    display: none;
  }

  .nav--open {
    display: none;
  }
  
  .nav-list--item {
    padding: calc(var(--default-space) / 2);
    margin-right: 1px;
  }
  
  .nav-list {
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }
}
