<!doctype html>
<html lang="en">
  <head>
    <title>{{title}} - Kayce Basques</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <a href="/">Home</a>
        <a href="/quotes">Quotes</a>
      </ul>
    </nav>
    {{content | safe}}
    <footer>
      <p>© 2024 Kayce Basques</p>
      <p>TANSTAAFL!</p>
    </footer>
  </body>
</html>
