<!doctype html>
<html lang="en">
  <head>
    <title>{{title}} - Kayce Basques</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    {{content | safe}}
  </body>
</html>
