<!doctype html>
<html lang="en">
  <head>
    <title>{{title}} - Kayce Basques</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav><a href="/">Home</a></nav>
    {{content | safe}}
    <footer>
      <p>TANSTAAFL</p>
      <p>KEEP CIRCULATING THE TAPES</p>
    </footer>
  </body>
</html>
