/* purple #7360ed
 * darker purple #583a7e
 * grey #cfcfcf
 * orange #f39b4d
 */

:root {
  --spacing: 10px;
  --spacing-half: calc(var(--spacing) / 2);
  --secondary: #b10743;
  --border: calc(var(--spacing) / 2) dashed var(--secondary);
}

a {
  color: var(--secondary);
}

body {
  display: grid;
  grid-gap: var(--spacing);
  grid-template-areas:
    "main"
    "header"
    "footer";
  grid-template-columns: 1fr;
  font-family: "Rasa";
  font-size: 24px;
}

.button {
  -webkit-appearance: none;
  font-family: "Rasa";
  font-size: 1em;
  padding: var(--spacing-half) var(--spacing) var(--spacing-half) var(--spacing);
  margin-top: var(--spacing);
}

#category {
  margin-top: 0;
}

#category::before {
  content: "Category: ";
}

@font-face {
  font-family: "Rasa";
  src: url("/fonts/Rasa-Regular.ttf") format("truetype");
}

footer {
  grid-area: footer;
  font-family: "Subway Ticker";
}

h1 {
  font-size: 1.7em;
  margin-top: 0;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 0.7em;
}

header {
  grid-area: header;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
  border-top: var(--border);
}

img {
  max-width: 100%;
}

main {
  grid-area: main;
  padding: var(--spacing);
}

nav {
  display: grid;
  grid-gap: var(--spacing);
}

.post {
  margin-bottom: var(--spacing);
}

#summary {
  border: var(--border);
  padding: var(--spacing);
}

#summary::before {
  content: "Summary";
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.25em;
}

#time {
  margin: 0;
}

#time::before {
  content: "Date: ";
}

.youtube--container {
  height: 0;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube--video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 800px) {
  body {
    grid-template-areas:
      "main   header"
      "main   header"
      "footer footer";
    grid-template-columns: 2fr 1fr;
  }
  header {
    display: grid;
    border-top: none;
    padding-left: var(--spacing);
  }
}
