:root {
  --indian-red: #C95053;
  --brown: #5B2220;
  --thistle: #DACCBF;
  --dim-gray: #635E48;
  --dark-slate-gray: #1E2525;
  --border-width: 4px;
  --margin: 16px;
}

* {
  font-size: 20px;
}

body {
  display: grid;
  grid-template-columns: 0px auto 0px;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

code {
  font-size: 0.9em;
}

header {
  grid-area: header;
  text-align: right;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  border-top: var(--border-width) solid black;
}

input {
  -webkit-appearance: none;
}

li {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

time {
  font-style: italic;
}

.button, button {
  -webkit-appearance: none;
}

.subscribe--email {
  display: flex;
  flex-grow: 1;
}

.subscribe--container {
  margin-bottom: var(--margin);
  border-top: var(--border-width) solid black;
}

.subscribe--input {
  flex-grow: 1;
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.subscribe--input-container {
  display: flex;
}

.subscribe--note {
  font-size: 0.9em;
  font-style: italic;
}

.subscribe--submit {
  display: inline;
}

.youtube--container {
  height: 0;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube--video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mc-embedded-subscribe {
  display: inline;
}

#summary::before {
  content: "Summary";
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#summary {
  padding: 1em;
  border: var(--border-width) solid var(--indian-red);
}

@media (min-width: 800px) {
  body {
    grid-template-columns: 100px auto 100px;
  }
}

@media (min-width: 1050px) {
  body {
    grid-template-columns: 200px auto 200px;
  }
}

@media (min-width: 1300px) {
  body {
    grid-template-columns: 300px auto 300px;
  }
}
